:root {
    --primary-color: #5e35b1;
    --primary-color-dark: #280680;
    --primary-color-light: #9162e4;
    --secondary-color: #ff6f00;
    --secondary-color-dark: #c43e00;
    --secondary-color-ligth: #ffa040;
    --font-color: #000000;
    --font-color-on-color: #ffffff;
    --font-size-small: 14px;
    --font-size-normal: 20px;
    --font-size-big: 28px;
    --font-size-huge: 36px;
    --font-weight-not-important: 300;
    --font-weight-normal: 400;
    --font-weight-important: 700;
    --border-radious: 4px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Oxygen', sans-serif;
}

.pizza-header {
    width: 100%;
    height: 120px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radious);
}

.header-section {
    width: 100%;
    margin: 0px 15px;
}

.header-section.logo {
    width: 40%;
}

.header-section.title {
    width: 60%;
    color: var(--font-color-on-color);
    font-size: var(--font-size-huge);
    font-weight: var(--font-weight-important);
}


.pizza-logo {
    height: 120px;
}

.pizza-form {
    padding: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: var(--border-radious);
    background-color: var(--primary-color);
    color: var(--font-color-on-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text-field-set {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0px;
}

.text-label {
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    margin-bottom: 5px;
}

.text-field {
    width: 95%;
    height: 30px;
    font-size: var(--font-size-normal);
    border-radius: var(--border-radious);
    border: 1px solid #000000;
}

.text-field:focus {
    outline: none;
    border: 3px solid var(--secondary-color);
}

.text-field.error {
    border: 1px solid var(--secondary-color-dark);
}

.text-field.error:focus {
    outline: none;
    border: 3px solid var(--secondary-color-dark);
}

.text-error {
    color: var(--secondary-color-dark);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-important);
}

.option-field-set {
    margin: 10px 0px;
}

.field-set-title {
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    margin-bottom: 5px;
}

.option-label {
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-not-important);
}

.buttons-set {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    margin: 0px 10px;
    width: 175px;
    height: 50px;
    border-radius: var(--border-radious);
    color: var(--font-color-on-color);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    border: none;
    cursor: pointer;
}

.btn.primary {
    background-color: var(--secondary-color);
}

.btn.secondary {
    background-color: var(--secondary-color-ligth);
}

.btn:focus {
    outline: none;
    border: solid 3px var(--secondary-color-dark);
}

.btn:hover {
    transform: scale(1.1);
}

.btn:disabled {
    background-color: gray;
    cursor: no-drop;
}

.btn:disabled:hover {
    transform: scale(0.9);
}

.options-sets {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
}

.bill-set {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.bill-label {
    font-size: var(--font-size-big);
    color: var(--font-color);
    font-weight: var(--font-weight-important);
}

.bill-details {
    width: 100%;
}

.bill-line {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-normal);
    border: solid 1px var(--secondary-color);
    border-radius: var(--border-radious);
    padding: 5px 0px;
}

.bill-line.total {
    margin-top: 10px;
    border: solid 3px var(--secondary-color);
    font-weight: var(--font-weight-important);
}

.modal {
    opacity: 0;
    display: none;
    padding: 15px;
    background-color: #ffffff;
    top: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 600px;
    border-radius: var(--border-radious);
    box-shadow: 2px 2px 10px 2px #000000;
}

@keyframes open-modal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal.open {
    display: block;
    opacity: 1;
    display: block;
    animation: open-modal 0.5s ease;
}

@keyframes loading {
    0% {
        color: red;
    }
    25% {
        color: pink;
    }
    50% {
        color: orange;
    }
    75% {
        color: greenyellow;
    }
    100% {
        color: black;
    }
}

.loading {
    color: red;
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-normal);
    animation: loading 2s linear infinite;
}

.modal.error.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-title {
    font-size: var(--font-size-big);
    color: var(--secondary-color-dark);
    font-weight: var(--font-weight-important);
}

.error-message {
    font-size: var(--font-size-normal);
    color: var(--secondary-color-dark);
    font-weight: var(--font-weight-normal);
}

.buttons-set.error {
    justify-content: center;
    align-items: center;
    margin: 30px 0px 10px 0px;
}

.field-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn.small {
    width: 50px;
    height: 25px;
}

.btn.primary.small {
    display: flex;
    justify-content: center;
    align-items: center;
}
